#card-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.card {
    display: block;
    width: 20%;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: #0d1117;
}
.card .heading {
    color: #FED766;
}
.card a {
    text-decoration: none;
    color: #fff;
}
.card .language {
    font-weight: bolder;
    color: #009FB7;
}
@media screen and (max-width: 1024px) {
    .card {
        width: 100%;
    }
}