body {
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: #272727;
    color: #fff;
}
nav {
    background-color: transparent;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
}
nav.sticky {
    background-color: #000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}
.title {
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    font-weight: bolder;
}
.intro {
    background-image: url("../assets/img/banner.png");
    background-size: cover;
    background-position: center;
    height: 300px;
    top: 0;
    padding: 100px 10%;
}
.intro-text {
    font-size: 20px;
}
main {
    padding: 20px;
}
.socials a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60px;
    width: 100vw;
}
@media screen and (max-width: 1024px) {
    .intro {
        padding: 50px 5%;
    }
}
