body {
    color: #fff;
    background-color: #212121;
    font-family: monospace;
    margin: auto;
    box-sizing: border-box;
    width: 75%;
}
#info {
    font-size: larger;
}
.anti-list {
    list-style: none;
}
.dotted-list {
    list-style: disc;
}
.pink {
    color: #fc05b2;
}
.blue {
    color: #4797ff;
}
.green {
    color: #00ff8c;
}
.yellow {
    color: #e2ff3b;
}
.bold {
    font-weight: bolder;
}