@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    box-sizing: border-box;
    overflow-x: hidden;
}

header {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: -21px -86px 164px 0px rgba(0,0,0,0.75) inset;
    background: url("assets/background.jpeg") no-repeat center center/cover;
}
.fade-in {
    background-color: transparent;
    opacity: 0;
    transform: translateY(100%);
    transition: 1s;
    text-align: center;
}
.fade-in.active {
    opacity: 1;
    transform: translateY(0);
}
header h1 {
    font-size: 4rem;
    font-weight: 700;
    color: #333;
    margin: 5px 0;
    text-transform: uppercase;
    letter-spacing: 10px;
}
header p {
    font-size: 1.5rem;
    font-weight: 500;
    color: #8f8f8f;
    margin: 5px 0;
    letter-spacing: 5px;
}
#scroll-down-btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #00000000;
    border: none;
    text-align: center;
}

main {
    padding: 20px 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrapper {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sub-wrapper {
    display: flex;
    flex-direction: row;
    width: 90%;
}
.sub-wrapper .half {
    width: 50%;
}
.sub-wrapper .full {
    width: 100%;
}
.black {
    background-color: #212121;
    color: #fff;
}
canvas {
    width: 80%;
}
code {
    border-radius: 10px;
}
.button {
    padding: 10px 20px;
    margin: 10px 0;
    border: 1px solid #212121;
    border-radius: 5px;
    background-color: #212121;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}
.button:hover {
    background-color: #fff;
    color: #212121;
}

@media screen and (max-width: 768px) {
    header h1 {
        font-size: 3rem;
    }
    .sub-wrapper {
        flex-direction: column;
    }
    .sub-wrapper .half {
        width: 100%;
    }
}